.header-princip {
  width: 100%;
  position: relative;
  height: 80px;
  top: 110px;
}

.divulgacao {
  position: relative;
  width: 100%;
  height: 40px;
  background: green;
  bottom: 150%;
}

#pd {
  position: relative;
  top: 12px;
  color: white;
  margin-left: 20px;
  font-weight: 700;
}

.icon-fac {
  position: relative;
  width: 27px;
  height: 27px;
  left: 48%;
  bottom: 30px;
  border: white 2px solid;
  border-radius: 15px;
  background: white;
  background-color: #3b5998;
}
.icon-fac:hover {
  width: 30px;
  height: 30px;
}

.icon-you {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 89%;
  bottom: 2px;
  border: white 2px solid;
  border-radius: 15px;
  background: white;
  background-color: #FF0000;
}
.icon-you:hover {
  width: 30px;
  height: 30px;
}

.icon-ins {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 93%;
  bottom: 2px;
  border: white 2px solid;
  border-radius: 15px;
  background: white;
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}
.icon-ins:hover {
  width: 30px;
  height: 30px;
}

/* header */
#header {
  margin-top: -1px;
  position: relative;
  width: 100%;
  height: 30px;
  background: white;
  height: 60px;
  bottom: 40px;
}

#imgIcon {
  width: 30px;
  height: 30px;
  margin-left: 2%;
  border-radius: none;
  position: absolute;
}

/*Pesquisa */
#Hpes img {
  position: relative;
  left: 34%;
  width: 25px;
  height: 25px;
  top: -70px;
}

#HprodF {
  position: relative;
  left: 33%;
  font-weight: 700;
  font-size: 15px;
  top: -70px;
  color: black;
}

#Hprod {
  position: relative;
  left: 32%;
  font-weight: 700;
  font-size: 15px;
  top: -70px;
  color: black;
}

#Home {
  position: relative;
  left: 31%;
  font-weight: 700;
  font-size: 15px;
  top: -70px;
  color: black;
}

#IconEmpresa {
  width: 180px;
  height: 60px;
  margin-left: 3%;
  top: -80px;
  left: -25px;
  position: absolute;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pesq {
  z-index: 999;
  display: none;
  position: relative;
  left: 72%;
  width: 350px;
  top: -50px;
  height: 70px;
  background: white;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.3);
}
.pesq .img-pesq {
  width: 30px;
  height: 36px;
}
.pesq .btn-pesq {
  width: 45px;
  height: 44px;
  position: relative;
  top: 15px;
  left: 11px;
  border: 3px solid black;
  background: whitesmoke;
}
.pesq .ipt-pesq {
  position: relative;
  width: 270px;
  left: 15px;
  height: 40px;
  top: 17px;
  border: 1px solid gray;
}
.pesq:active {
  border: none;
}

.miniproduto {
  height: 100%;
}

.c {
  z-index: 990;
  display: none;
  height: 50px;
  position: relative;
  left: 72%;
  width: 350px;
  bottom: 67%;
  background: white;
}
.c img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  left: 30px;
}
.c a {
  position: absolute;
  top: 10px;
  left: 90px;
  color: black;
  font-family: "Segoe UI";
  text-decoration: none;
}

.miniproduto .c .b strong {
  font-weight: bold;
}
.miniproduto a:hover {
  text-decoration: none;
  color: black;
}

.mySlides {
  position: relative;
  top: 10px;
}

.mySlides :hover {
  cursor: pointer;
}

.imgProduct {
  width: 250px;
  height: 250px;
}

.card-btn {
  width: 250px;
  height: 50px;
  top: 130px;
}

.flicking-panel {
  width: 250px;
  height: 250px;
}

.container {
  position: relative;
  top: 10px;
  margin-bottom: 100px;
  left: 7%;
}

.flicking-panel {
  margin-left: 10px;
  height: 300px;
}

.flicking-panel div img {
  width: 250px;
  height: 250px;
}

.title-special {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.btn-more-products {
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 150px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 20px;
  background: green;
  color: white;
  text-decoration: none;
  position: relative;
  bottom: 100px;
}
.btn-more-products:hover {
  bottom: 90px;
  font-size: 25px;
  outline: none;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.3);
}

.best-selling {
  width: 100%;
  height: 550px;
  background: whitesmoke;
  border: 1px solid lightgray;
}

.img-best-selling {
  position: relative;
  width: 500px;
  margin-left: 90px;
  height: 420px;
  bottom: 10%;
}

.titleP-best-selling {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.title-best-selling {
  position: relative;
  left: 22%;
  bottom: 36%;
  font-weight: 700;
}

.text-best-selling {
  position: relative;
  width: 600px;
  height: 300px;
  left: 50%;
  bottom: 34%;
}

.btn-best-selling {
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 22%;
  bottom: 57%;
  margin: auto;
  padding: 10px;
  width: 25%;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 20px;
  background: green;
  color: white !important;
  text-decoration: none;
}
.btn-best-selling span:hover {
  position: relative;
  color: white !important;
  text-decoration: none;
  bottom: 10px;
}
.btn-best-selling:hover {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 25px;
  outline: none;
  color: white !important;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.3);
}
.btn-best-selling:hover:active {
  outline: none;
}

.depoimentos {
  margin-top: 70px;
  width: 100%;
  height: 500px;
}

.title-depoimentos {
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 35px;
  height: 60px;
  left: 30%;
  width: 100%;
  margin-right: 20%;
}

.container-dep {
  display: flex;
  align-items: center;
  position: relative;
  top: -20%;
  width: 100%;
  height: 600px;
  flex-direction: row;
  left: 15%;
}

.video {
  width: 390px;
  height: 340px;
  padding: 20px;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2), 5px 0px 5px rgba(0, 0, 0, 0.2), 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.video:hover {
  transform: translateY(-10px);
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.2);
}
.video video {
  margin-left: 2px;
  width: 333px;
  height: 187px;
}

.video2 {
  margin-right: 30px;
  margin-left: 30px;
}

.caracteristicas-empresa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  bottom: 3%;
}
.caracteristicas-empresa div {
  position: relative;
  width: 100%;
  height: 400PX;
}

.imgC {
  width: 60px;
  height: 60px;
  position: relative;
  left: 1%;
  border-radius: 30%;
  top: 10px;
}

.divC {
  width: 230px;
  height: 230px;
  border: 1px solid whitesmoke;
}

#titleC {
  position: relative;
  left: 10px !important;
  top: 20px;
}

#titleA {
  position: relative;
  left: 4px;
  top: 20px;
}

#pc {
  position: relative;
  width: 80%;
  margin-left: 10%;
  top: 40px;
  font-size: 28px;
}

.sobrenos {
  display: flex;
  flex-direction: column;
  background: black;
  height: 480px;
  width: 100% !important;
}

.titleS {
  color: white;
}

.btn-fim {
  position: relative;
  left: 80px;
  bottom: 60px;
  font-size: 20px;
  color: white;
  border: none;
  background: black;
}

.imgs-fim {
  position: relative;
  top: 80%;
  width: 60px;
  height: 60px;
}

.icons-fim {
  width: 20px;
  height: 20px;
}

.fim-one {
  position: relative;
  width: 300px;
  height: 100px;
  left: 55%;
  bottom: 440px;
}

.fim-two {
  position: relative;
  width: 300px;
  height: 100px;
  left: 55%;
  bottom: 420px;
}

.fim-three {
  position: relative;
  width: 300px;
  height: 100px;
  left: 55%;
  bottom: 400px;
}

.fim-four {
  position: relative;
  width: 300px;
  height: 100px;
  left: 55%;
  bottom: 380px;
}

.gvtnine {
  position: absolute;
  left: 60%;
  width: 100%;
  top: 100%;
  color: white;
  font-family: "Segoe UI";
  font-weight: 700;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.gvtseven {
  position: absolute;
  left: 60%;
  width: 100%;
  top: 100%;
  color: white;
  font-family: "Segoe UI";
  font-weight: 700;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.gvtthree {
  position: absolute;
  left: 60%;
  width: 100%;
  top: 100%;
  color: white;
  font-family: "Segoe UI";
  font-weight: 700;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.of-btn {
  position: absolute;
  left: 60%;
  width: 100%;
  top: 100%;
  color: white;
  font-family: "Segoe UI";
  font-weight: 700;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.titleS2 {
  position: relative;
  height: 50px;
  color: white;
  font-size: 20px;
  left: 25%;
  bottom: 420px;
  font-size: 25px;
}

.titleS1 {
  position: relative;
  height: 50px;
  color: white;
  font-size: 20px;
  top: 40px;
  right: 32%;
  margin-left: 22%;
  font-size: 25px;
}

.pS {
  margin-top: 70px;
  position: relative;
  width: 50%;
  margin-left: 20px;
  color: white;
  font-size: 20px;
}

.icon-fim {
  position: relative;
  max-width: 32px;
  max-height: 32px;
}

.fac {
  left: 40px;
  background: white;
  border: none;
  border-radius: 100px;
  background-color: #3b5998;
}

.ins {
  left: 100px;
  bottom: 32px;
  background-color: white;
  border-radius: 100px;
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

.you {
  left: 160px;
  bottom: 65px;
  background-color: white;
  border-radius: 50%;
  background-color: #FF0000;
}

.iconS {
  position: relative;
  width: 40px;
  height: 40px;
}

.rodape {
  height: 70px;
  background: green;
}

.p-rod {
  position: relative;
  top: 40%;
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#barra1 {
  position: relative;
  bottom: 75px t;
  position: relative;
  left: 210px;
  color: white;
  width: 10px;
  height: 10px;
}

.catalogo {
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100px;
  background: green;
  top: 10px;
}

.cat-ini {
  position: relative;
  color: white;
  margin-left: 40px;
  top: 30px;
  font-weight: 700;
  font-size: 20px;
  font-family: "Segoe UI";
  text-decoration: none;
  right: 700px;
}

.cat-cat {
  position: relative;
  color: white;
  margin-left: 80px;
  top: -27px;
  left: -600px;
  font-weight: 700;
  font-size: 20px;
  font-family: "Segoe UI";
  text-decoration: none;
}

.sidebar {
  height: 400px;
  width: 40%;
  position: absolute;
  top: 40%;
}

.h2-cat {
  position: relative;
  color: black;
  left: -28%;
  top: -1%;
  font-weight: 700;
  font-size: 20px;
  font-family: "Segoe UI";
  text-decoration: none;
}

.catpro {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 30px;
  width: 230px;
  margin-top: 10px;
  top: 2%;
  text-decoration: none;
  color: #228B22;
  font-size: 20px;
  font-family: "Segoe UI";
  font-weight: 700;
}
.catpro:hover {
  color: green;
  font-size: 25px;
  width: 300px;
}

.linha1 {
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: lightgray;
  top: 17%;
  left: 6%;
  margin-top: 10px;
}

.order {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 70%;
  margin-left: 25%;
  top: 50%;
}
.order img {
  width: 280px !important;
  height: 280px !important;
  margin-right: 20px;
}
.order video {
  width: 280px;
  height: 280px;
  margin-right: 20px;
}
.order div {
  bottom: 20%;
  margin-left: 3%;
}

h3 {
  position: relative;
  font-size: 10px;
  margin-left: 10px;
  font-family: "Segoe UI";
  font-weight: 700;
  color: gray;
  bottom: 45%;
}

.a {
  position: relative;
  margin-bottom: 10px;
  text-decoration: none;
  color: #228B22;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 16PX;
  bottom: 45%;
}
.ahover {
  color: green;
}

.espaco {
  height: 560px;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
