@import './variavel.scss';
.header-princip{
	width: 100%;
	position: relative;
	height: 80px;
    top: 110px;
}
.divulgacao{
	position: relative;
	width: 100%;
	height: 40px;
	background: $color-primary;
	bottom:150%;
}
#pd{
	position: relative;
	top: 12px;
	color: white;
	margin-left: 20px;
	font-weight: 700;
}
.icon-fac{
	position: relative;
	width: 27px;
	height: 27px;
	left: 48% ;
	bottom: 30px;
	border: white 2px solid;
	border-radius: 15px;
	background: white;
	background-color: #3b5998;
	&:hover{
	width: 30px;
	height: 30px;
	}
}

.icon-you{
	position: absolute;
	width: 27px;
	height: 27px;
	left: 89% ;
	bottom: 2px;
	border: white 2px solid;
	border-radius: 15px;
	background: white;
	background-color: #FF0000;
	&:hover{
		width: 30px;
		height: 30px;
	}
}

.icon-ins{
	position: absolute;
	width: 27px;
	height: 27px;
	left: 93% ;
	bottom: 2px;
	border: white 2px solid;
	border-radius: 15px;
	background: white;
	background: linear-gradient(45deg,#405DE6,#5851DB,#833AB4,#C13584,
	#E1306C,#FD1D1D);
	&:hover{
  width: 30px;
  height: 30px;
	}
}

/* header */

#header{
	margin-top: -1px;

    position: relative;
    width: 100%;
    height: 30px;
    background: white;
	height: 60px;
	bottom: 40px;
	
}
#imgIcon {
    width: 30px;
    height: 30px;
    margin-left: 2%;
    border-radius: none;
    position: absolute;
   
}

/*Pesquisa */
#Hpes img{
	position: relative;
	left: 34%;
	width: 25px;
	height: 25px;
	top: -70px;
	
}
#HprodF{
	position: relative;
	left: 33%;
	font-weight: 700;
	font-size: 15px;
	top: -72px;
		color: black;
}

#Hprod{
	position: relative;
	left: 32%;
	font-weight: 700;
	font-size: 15px;
	top: -70px;
		color: black;
}
#Home{
	position: relative;
	left: 31%;
	font-weight: 700;
	font-size: 15px;
	top: -70px;
	color: black;
}
#IconEmpresa {
	width: 180px;
    height: 60px;
    margin-left: 3%;
    top: -80px;
    left: -25px;
    position: absolute ;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    
}

.pesq{
	z-index: 999;
	display: none;
	position: relative;
	left: 72%;
	width: 350px;
	top: -50px;
	height: 70px;
	background: white;
	box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.3);
	.img-pesq{
		width: 30px;
		height: 36px;
	}
	.btn-pesq{
		width: 45px;
		height: 44px;
		position: relative;
		top: 15px;
		left: 11px;
		border: 3px solid black;
		background: whitesmoke;
	}
	
	.ipt-pesq{
		position: relative;
		width: 270px;
		left: 15px;
		height: 40px;
		top: 17px;
		border: 1px solid gray;
	}
	&:active{
		border: none;
	}
}




.miniproduto{
    height: 100%;
}
.c{
	z-index: 990;
	display: none;
 height: 50px;
 position: relative;
	left: 72%;
	width: 350px;
	bottom: 67%;
	background: white;
	img{
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 30px;
		left: 30px;
	}
	a{
		position: absolute;
		top: 10px;
		left: 90px;
		color: black;
		font-family: "Segoe UI";
		text-decoration: none;
	}
}
.miniproduto{
	.c .b strong {
		font-weight: bold;
	  }
     a:hover{
	  text-decoration: none;
	  color: black;
	  
	}
} 
