.imgProduct{
    width: 250px;
    height: 250px;
}
.card-btn{
    width: 250px;
    height: 50px;
    top: 130px;
}
.flicking-panel{
    width: 250px;
    height: 250px;
}
.container{
    position: relative;
    top: 10px;
    margin-bottom: 100px;
}
.flicking-panel{
    margin-left: 10px;
    height: 300px;
}