@import '../principal/variavel.scss';
#barra1{
    position: relative ;
    bottom: 75px t;
	position: relative;
    left: 210px;
	color: white;
	width: 10px;
	height: 10px;
}
.catalogo{
    z-index: 10;
	position: relative;
	width: 100%;
	height: 100px;
	background: $color-primary;
	top: 10px ;
}
.cat-ini{
	position: relative;
	color: white;
	margin-left: 40px;
	top: 30px;
	font-weight: 700;
	font-size: 20px;
	font-family: "Segoe UI";
	text-decoration: none;
	right: 700px;
}
.cat-cat{
	position: relative;
	color: white;
	margin-left: 80px;
	top: -27px;
	left: -600px;
	font-weight: 700;
	font-size: 20px;
	font-family: "Segoe UI";
	text-decoration: none;
	
}
